.service {
  padding: 25px;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 5px 10px #212529;
}
.iconbox {
  background-color: #bac964;
  display: inline-block;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  font-size: 60px;
  color: #fff;
}

.description {
  color: #ffffff66;
  font-size: 16px;
}
